body{
  background: #fff;
font-family: 'Open Sans', sans-serif;
margin: 0;
overflow-x: hidden;
color: #67757c;
}

.error-box {
    height: 100%;
    position: fixed;
    width: 100%;
}

.error-body {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.error-body h1 {
    font-size: 150px;
    font-weight: 900;
    line-height: 210px;
    color: #444c67;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.text-muted {
    color: #99abb4 !important;
}
